# Flask
FLASK_APP=app.py
FLASK_ENV=development

# SQL Server (ODBC Driver 18)
# Formato recomendado:
# mssql+pyodbc://usuario:password@host:1433/database?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
DATABASE_URL=mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/reporting_db?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
